@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}




@*customs style and script ( Farshid )*@
<style>

    /* buttons style */
    @@media screen and (min-width:768px){
    .custom-mg-top {
        margin-top: 280px;
    }
    }
    @@media screen and (max-width:767px) {
        .custom-mg-top {
            margin-top: 180px;
        }
    }
    /* inputs style*/
    .input-new-style {
        background-color: rgba(201, 201, 201, 0.301);
        border: 10px;
    }
</style>
<script>
    $(document).ready(function () {

        //Validation Submit
        $("#btn-send").click(function () {
            // remove comments
            $('small').remove();
            // variables
            var email = $("#c-email").val();
            var phone = $("#c-phone").val();
            // validation inputs
            if (email == "" && phone == "") {
                $('#c-phone').css('border', '1px solid red');
                $('#c-email').css('border', '1px solid red');
                $("#div-inputs").after("<small class='text-danger font-width-bold position-absolute pt-1 mx-2'>please inter your phone number or email address ....</small>");
                return false
            }
            //$("#btn-singup").after("<small class='mx-1 text-success'>send successed</small>");
        });

    });
</script>
@* / customs style and script ( Farshid )*@

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-10 col-xl-10 mt-5">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="row">
                                    <div class="col text-center">
                                        <h4 class="font-weight-bold text-center">Forgot Password</h4>
                                    </div>
                                </div>
                                <hr>
                                <form class="user">
                                    <div class="row mt-3" id="div-inputs">
                                        <p class="cc-quote mb-4 mx-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                                        <div class="form-group col-md-6"><input class="form-control input-new-style" type="email" id="c-email" aria-describedby="emailHelp" placeholder="Enter your Email Adress ..." name=""></div>
                                        <div class="form-group col-md-6"><input class="form-control input-new-style" type="number" id="c-phone" aria-describedby="phoneNumber" placeholder="Enter your Phone Number ..." name=""></div>
                                    </div>
                                    <div class="row d-flex justify-content-md-start justify-content-center custom-mg-top">
                                        <div class="col-10 col-md-6 col-lg-3">
                                            <button class="btn btn-primary text-white mt-1 w-100" id="btn-send" type="submit">Send</button>
                                        </div>
                                        <div class="col-10 col-md-6 col-lg-3">
                                            <button class="btn btn-outline-primary mt-1 w-100" type="submit">Back</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image">
                                <img src="~/img/3mabit.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>