@{
    Layout = null;
    ViewData["Title"] = "Log in";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}


<div class="container">
    <h1 class="display-4 text-center mb-4">Bootstrap Modals</h1>

    <div class="row mb-4">
        <div class="col text-center">
            <h3>The Basic Modal</h3>
            <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">
                Click to open
                Modal
            </a>
        </div>
    </div>
</div>
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body modal-body-web-custom pr-0 pl-0 pt-0 pb-0">
                <div class="oval-header3">
                    <button type="button" class="close close-web-custom" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="pt-4">
                        <img src="~/img/tell.png" width="145" class="ml-3">
                    </div>
                    <span class="text-white">لطفا برای ورود شماره خود را وارد کنید</span>
                    <div class="oval-header--mask3">
                    </div>
                </div>
            </div>
            <div class="content2 pb-40">
                <form id="telInput" class="ltr">
                    <input id="phone" name="phone" type="tel" class="text-left brd-1-blue border-top-0 border-right-0 border-left-0">
                </form>
                <div class="row mt-3">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary form-control" tabindex="-1">ارسال کد</button>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
