@{
    ViewData["Title"] = "Log in";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}


@*customs style and script ( Farshid )*@
<style>
    @@media screen and (min-width:768px) {
        .custom-mg-top {
            margin-top: 270px;
        }
    }

    @@media screen and (max-width:767px) {
        .custom-mg-top {
            margin-top: 170px;
        }
    }

    .input-new-style {
        background-color: rgba(201, 201, 201, 0.301);
        border: 10px;
    }

</style>
<script>
    $(document).ready(function () {

        //Validation Submit
        $("#btn-login").click(function () {
            // remove comments
            $('small').remove();
            // variables
            var name = $("#user-name").val();
            var pass = $("#pass").val();
            // validation inputs
            if (name == "") {
                $('#user-name').css('border', '1px solid red');
                $("#user-name").after("<small class='text-danger position-absolute pt-1 mx-2'>please inter your name ...</small>");
                return false
            }
            if (pass == "") {
                $('#pass').css('border', '1px solid red');
                $("#pass").after("<small class='text-danger position-absolute pt-1 mx-2'>please inter your password ...</small>");
                return false
            }
        });

    });
</script>
@* / customs style and script ( Farshid )*@

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-10 col-xl-10 mt-5">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="row">
                                    <div class="col col-md-6 text-center"><button class="btn btn-lg font-weight-bold">Login</button></div>
                                    <div class="col col-md-6 text-center"><button class="btn btn-lg font-weight-bold">SignUp</button></div>
                                </div>
                                <hr>
                                <form class="user">
                                    <div class="row">
                                        <div class="form-group col-md-6 pt-3"><input class="form-control input-new-style" type="text" id="user-name" aria-describedby="" placeholder="User Name"></div>
                                        <div class="form-group col-md-6 pt-3"><input class="form-control input-new-style" type="password" id="pass" placeholder="Password"></div>
                                        <div class="form-group mt-2">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label pt-2 pr-3" for="formCheck-1">Remember Me</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-md-start justify-content-center custom-mg-top">
                                        <div class="col-10 col-md-6 col-lg-3">
                                            <button class="btn btn-primary text-white mt-1 w-100" id="btn-login" type="submit">Login</button>
                                        </div>
                                        <div class="col-10 col-md-6 col-lg-6">
                                            <button class="btn btn-outline-primary mt-1 w-100" type="submit">Forgot Password ?</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image">
                                <img src="~/img/2mabit.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

