@model WebUI.Models.RegisterModel
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

@*<div class="row">
        <div class="col-md-4">
            <form asp-controller="Account" asp-action="Register"
                  method="post" asp-route-culture="@culture">
                <h4 localize-content>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile"></label>
                    <input asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary" localize-content>Register</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@




@*customs style and script ( Farshid )*@
<style>

    /* buttons style */
    @@media screen and (min-width:768px) {
        .custom-mg-top {
            margin-top: 180px;
        }
    }
    @@media screen and (max-width:767px) {
        .custom-mg-top {
            margin-top: 80px;
        }
    }
    /* inputs style*/
    .input-new-style {
        background-color: rgba(201, 201, 201, 0.301);
        border: 10px;
    }

</style>
<script>

    $(document).ready(function () {

        //Validation Submit
        $("#btn-singup").click(function () {
            // remove comments
            $('small').remove();
            // variables
            var name = $("#c-name").val();
            var family = $("#c-family").val();
            var email = $("#c-email").val();
            var phone = $("#c-phone").val();
            var pass = $("#c-pass").val();
            var cpass = $("#cc-pass").val();
            // validation inputs
            if (name == "") {
                $('#c-name').css('border', '1px solid red');
                $("#c-name").after("<small class='mx-2 text-danger position-absolute pt-1'>please inter your name ...</small>");
                return false
            }
            if (family == "") {
                $('#c-family').css('border', '1px solid red');
                $("#c-family").after("<small class='mx-2 text-danger position-absolute pt-1'>please inter your family ...</small>");
                return false
            }
            if (email == "") {
                $('#c-email').css('border', '1px solid red');
                $('#c-email').after("<small class='mx-2 text-danger position-absolute pt-1'>please inter your email address ...</small>");
                return false
            }
            if (phone == "") {
                $('#c-phone').css('border', '1px solid red');
                $('#c-phone').after("<small class='mx-2 text-danger position-absolute pt-1'>please inter your phone number ...</small>");
                return false
            }
            if (pass == "") {
                $('#c-pass').css('border', '1px solid red');
                $("#c-pass").after("<small class='mx-2 text-danger position-absolute pt-1'>please inter your password ...</small>");
                return false
            }
            if (cpass == "") {
                $('#cc-pass').css('border', '1px solid red');
                $("#cc-pass").after("<small class='mx-2 text-danger position-absolute pt-1'>please inter your password ...</small>");
                return false
            }
            if (pass != cpass) {
                $('#c-pass').css('border', '1px solid red');
                $('#cc-pass').css('border', '1px solid red');
                $("#pass-div").after("<small class='mx-2 text-danger position-absolute pt-1'>please inter same password ...</small>");
                return false
            }
        });

    });

</script>
@* / customs style and script ( Farshid )*@

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-10 col-xl-10 mt-5">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="row">
                                    <div class="col col-md-6 text-center"><button class="btn btn-lg font-weight-bold">Login</button></div>
                                    <div class="col col-md-6 text-center"><button class="btn btn-lg font-weight-bold">SignUp</button></div>
                                </div>
                                <hr>
                                <form class="user">
                                    <div class="row">
                                        <div class="form-group col-md-6 pt-3"><input class="form-control input-new-style" type="text" id="c-name" aria-describedby="emailHelp" placeholder="First Name"></div>
                                        <div class="form-group col-md-6 pt-3"><input class="form-control input-new-style" type="text" id="c-family" aria-describedby="emailHelp" placeholder="Last Name"></div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 pt-3"><input class="form-control input-new-style" type="email" id="c-email" aria-describedby="emailHelp" placeholder="Enter Email Address ..."></div>
                                        <div class="form-group col-md-6 pt-3"><input class="form-control input-new-style" type="number" id="c-phone" aria-describedby="emailHelp" placeholder="Enter Phone Number ..."></div>
                                    </div>
                                    <div class="row" id="pass-div">
                                        <div class="form-group col-md-6 pt-3"><input class="form-control input-new-style" type="password" id="c-pass" placeholder="Password"></div>
                                        <div class="form-group col-md-6 pt-3"><input class="form-control input-new-style" type="password" id="cc-pass" placeholder="Confirm Password"></div>
                                    </div>
                                    <div class="row d-flex justify-content-center justify-content-md-start custom-mg-top">
                                        <div class="col-10 col-md-4">
                                            <button class="btn btn-primary text-white w-100" id="btn-singup" type="submit">SingUp</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image">
                                <img src="~/img/1mabit.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>