<div class="main col-12">
    <div class="progress">
        <div  class="progress-bar progreso1  bg-mabit-blue" role="progressbar"
             aria-valuenow="0"
             aria-valuemin="0" ariavaluemax="100"></div>
    </div>
    <div class="block11">
        <i class="icon11 fa fa-check"></i>
        <span class="wizard-label">Request</span>
    </div>
    <div  class="block22 deactiveblock22">
        <i class="icon22 fa fa-times"></i>
        <span class="wizard-label">Verification</span>
    </div>
    <div  class="block33">
        <i class="icon33"></i>
        <span class="wizard-label-without-icon">Prepaymnet</span>
    </div>
    <div  class="block44">
        <i id="icon44"></i>
        <span class="wizard-label-without-icon">Done</span>
    </div>
</div>