<div class="main col-12">
    <div class="progress">
        <div  class="progress-bar progreso1 progreso2 progreso3  bg-mabit-blue"
             role="progressbar" aria-valuenow="0"
             aria-valuemin="0" ariavaluemax="100"></div>
    </div>
    <div class="block11 ">
        <i class="icon1 fa fa-check"></i>
        <span class="wizard-label">Request</span>
    </div>
    <div  class="activeblock22">
        <i class="icon2 fa fa-check"></i>
        <span class="wizard-label">Verification</span>
    </div>
    <div  class="activeblock33">
        <i class="icon3 fa fa-check"></i>
        <span class="wizard-label">Prepaymnet</span>
    </div>
    <div  class="activeblock44">
        <i class="icon4 fa fa-check"></i>
        <span class="wizard-label">Done</span>
    </div>
</div>