@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<div class="unit-txt">
    <partial name="_HostingStepNineUnit" />
</div>
<div class="hotel-txt">
    <partial name="_HostingStepNineHotel" />
</div>

