<div class="item table-main table-main-room">
    <table id="room" class="table table-light table-prs table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Flour</th>
                <th>Room</th>
                <th>Category</th>
                <th>Cost</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tr class="input-row">
                <td><input id="room-flour" type="text" /></td>
                <td><input id="room-number" type="text" /></td>
                <td>
                    <div class="button-group combo-box">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>
                        <ul id="room-options" class="dropdown-menu">
                            <li>
                                <a href="#" class="small" tabIndex="-1">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="small" data-value="option1"
                                   tabIndex="-1">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               id="Vip" value="Vip">
                                        <label class="custom-control-label" for="Vip">&nbsp;Vip</label>
                                    </div>
                                    <!--                                                                <input type="checkbox"/>&nbsp;Vip-->
                                </a>
                            </li>
                            <li>
                                <a href="#" class="small" data-value="option2"
                                   tabIndex="-1">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               id="Normal" value="Normal">
                                        <label class="custom-control-label" for="Normal">&nbsp;Normal</label>
                                    </div>
                                    <!--                                                                <input type="checkbox"/>&nbsp;Normal-->
                                </a>
                            </li>
                            <li>
                                <a href="#" class="small" data-value="option3"
                                   tabIndex="-1">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               id="Suit" value="Suit">
                                        <label class="custom-control-label" for="Suit">&nbsp;Suit</label>
                                    </div>
                                    <!--                                                                <input type="checkbox"/>&nbsp;Suit-->
                                </a>
                            </li>
                            <li>
                                <a href="#" class="small" data-value="option4"
                                   tabIndex="-1">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               id="Seaside" value="Seaside">
                                        <label class="custom-control-label" for="Seaside">&nbsp;Seaside</label>
                                    </div>
                                    <!--                                                                <input type="checkbox"/>&nbsp;Seaside-->
                                </a>
                            </li>
                            <li>
                                <a href="#" class="small" data-value="option5"
                                   tabIndex="-1">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               id="2beds" value="2beds">
                                        <label class="custom-control-label" for="2beds">&nbsp;2beds</label>
                                    </div>
                                    <!--                                                                <input type="checkbox"/>&nbsp;2beds-->
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td><input id="room-cost" type="text" /></td>
                <td><input id="room-desc" type="text" /></td>
                <td>
                    <button class="new-button" id="room-new-btn">
                        <i class="fa fa-plus"></i>
                        New
                    </button>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>VIP</td>
                <td><span>512</span> $</td>
                <td class="text-left">
                    Lorem Ipsum is,Lorem Ipsum isLorem Ipsum is,Lorem
                    Ipsum is Lorem Ipsum is,Lorem Ipsum is
                </td>

                <td class="text-left">
                    <div class="operation">
                        <button class="edit-btn">Edit</button>
                        <button class="delete-btn">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>1</td>
                <td>VIP</td>
                <td><span>600</span> $</td>
                <td class="text-left">
                    Lorem Ipsum is, Lorem Ipsum is, Lorem Ipsum is
                </td>
                <td class="text-left">
                    <div class="operation">
                        <button class="edit-btn">Edit</button>
                        <button class="delete-btn">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="btn-container p-1">
    <button type="button" class="btn-step-prev res-btn-gray"
            data-class=".res-form-eleven">
        Back
    </button>
    <button type="button"
            class="btn-step res-btn-orange mb-2"
            data-class=".res-form-eleven">
        Done
    </button>
</div>