@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
@if (culture == "en")
{
    <p>
        This cooperation agreement between us,  fanavari houshmand hamsaneh pardis(Private Limited), Tehran, Shahid Beheshti Street, Andisheh Street, Andisheh 7, No. 12, hereinafter referred to as "Mabit" (owner of mabit website) And the owner of the hotel, the hotel apartment, the inn, etc., hereinafter referred to as the "hotel", will conclude.

        Note 1: A person who makes a daily or mid-term online reservation via the website is called a guest.
        Note 2: Hereinafter referred to as the Hotel, Hotel, Apartment, Inn, Hostel, etc., the "Hotel".

        Article 1: Subject of the contract
        The subject matter of this contract is the provision of daily or mid-term online booking services and online advertising of the accommodation by the Mabit Website, through the online booking fee.

        Article 2: Contract Amount
        2-1) How to Pay a Fee Mabit  For marketing, according to the agreed numbers will be 10% of the amount paid to the website.
        2-2) The hotel receives its reservation amount after deducting the Mabit commission.
        2-3) The hotel reservation time will be one business day after the guest has paid.
        2-4) All payments must be made to the bank account number announced by the hotel. Any changes to the hotel account number must be notified in writing or by email to Mabit.

        Article 3: Obligations of Mabit
        3-1) Mabit will support hotel sales and marketing online for booking and will take the necessary steps.
        3-2) Guest telephone support is provided by Mabit.
        3-3) Mabit will be committed to timely payment to hotels (in accordance with Article 2-2).

        Article 4: Hotel Obligations
        4-1) The hotel undertakes to include all information, general conditions and photos of the rooms on the Mabit website.
        4-2) The Hotel undertakes to update the calendar online and rates of each accommodation on a timely basis.
        4-3) Initial cleaning (vacuum cleaner, refrigerator cleaning, clean kitchen sink, toiletries, bed linen replacement, trash can, clean pool water, etc.) is left after each guest leaves.
        4-4) The hotel cannot cancel the reservation after receiving the money from Mabit site.
        4-5) The hotel undertakes to keep the accommodation empty for up to 3 hours upon approval of the guest request. The hotel is obliged to inform the site if another guest arrives in person at this time in advance.
        4-6) The hotel is responsible for adapting the information and the actual physical condition of the accommodation and matching it with the pictures. If not, Mabit will be allowed to refund 20% of the amount as a loss on the hotel credit account while refunding the guest and deducting it from the hotel account.
        4-7) If you enable the ready delivery option for each room or suite, guests will be able to use overnight discounts (fast booking). In this case, an instant update of the calendar is mandatory.
        Note 4-1 : Overnight discounts are open from 21:00 to 12:00 noon and are paid by guests without delay and without hotel approval. This option will be activated automatically if the accommodation is not booked.
        4-8) A hotel that does not enable the ready delivery option undertakes to respond to the reservation request in less than 2 hours (accept or reject)
        4-9) The Hotel is committed to conclude a physical contract with the guest (in accordance with the hotel's own rules). The guest ID will be provided as a guarantee and a security during your stay.
        4-10) The Hotel is committed to promoting and providing the best services possible with the cooperation with Mabit and its guests.

        Article 1: General Conditions
        5-1) The guest is obliged to return the room to the same hotel as he or she will after the end of the stay. If the problem arises, it is up to the hotel and guest to resolve it and Mabit is not responsible for this.
        5-2)  In case of cancellation of the reservation by the guest, the fee will be refunded in accordance with Article 6.

        Article 1: The guest's concession terms
        6-1) If guest cancels their reservation before 72 hours, 20% of the amount will be charged as damages.
        6-2) If the guest is staying and wishing to leave earlier than the date of booking, the overnight stay will be charged and the remainder will be deposited into his / her account.
        6-3) Reservations can be canceled by the guest in the event of force majeure (flood, earthquake, route closure or flight console).

        Article 7: Force Majeure Conditions
        7-1) The principle is binding on this contract and the matter of force majeure under Article 229 of the Iranian Civil Code deals with the simultaneous existence of three unavoidable and unpredictable conditions of occurrence and the occurrence of a foreign cause derogating from the will of the parties.

        Article 8: Termination
        8-1)  If the Hotel fails to fulfill any of its obligations under this Agreement, the Hotel may terminate unilaterally.
        8-2) The terms of the Force Majeure shall in itself terminate this Agreement.
    </p>
}
@if (culture == "fa")
{
    <p>
        قرارداد همکاری
        این تفاهم نامه همکاری فی ما بین شرکت فناوری هوشمند همسانه پردیس ( سهامی خاص)، به نشانی تهران، خیابان شهید بهشتی، خیابان اندیشه، نبش اندیشه 7، پلاک 12 که از این پس به اختصار "مبیت" نامیده می‌شود(صاحب امتیاز وبسایت mabit) و مالک هتل، هتل آپارتمان، مسافرخانه و... که از این پس "هتل" نامیده می شود، منعقد می‌گردد.
        تبصره ۱: فردی که نسبت به رزرو روزانه و یا میان مدت اقامتگاه بصورت آنلاین از طریق وبسایت مبیت اقدام کند مهمان نامیده می‌شود.
        تبصره2: از این پس در این قرارداد هتل، هتل آپارتمان، مسافرخانه، هاستل و... را "هتل" می نامیم.
        ماده ۱: موضوع تفاهم نامه
        موضوع این تفاهم نامه عبارت است از ارائه خدمات رزرو آنلاین روزانه یا میان مدت و تبلیغات اینترنتی اقامتگاه از طرف مبیت برای هتل، از طریق دریافت مبلغ رزرو به صورت آنلاین.
        ماده۲: مبلغ تفاهم نامه
        ۲-۱) نحوه ی پرداخت حق الزحمه مبیت، بابت بازاریابی ، مطابق اعداد مورد توافق ۱۰٪ از مبلغ پرداختی مهمان به وبسایت خواهد بود.
        ۲-۲) هتل مبلغ رزرو خود را پس از کسر کارمزد مبیت دریافت می‌کند.
        ۲-۳) زمان پرداخت مبلغ رزرو به هتل یک روز کاری پس از پرداخت مهمان خواهد بود.
        ۲-۴) تمام پرداخت‌های فی مابین لازم است به شماره حساب بانکی اعلام شده توسط هتل انجام شود. هرگونه تغییری برای شماره حساب از جانب هتل، باید بصورت کتبی و یا ایمیل به مبیت اعلام گردد.
        ماده۳: تعهدات مبیت
        ۳-۱) مبیت هتل را در زمینه فروش و بازاریابی آنلاین برای رزرو پشتیبانی کرده و در همین راستا اقدامات لازم را مبذول خواهد داشت.
        ۳-۲) پشتیبانی تلفنی مهمان بر عهده مبیت است.
        ۳-۳) مبیت متعهد به پرداخت به موقع به هتلها (طبق ماده2-2)خواهد بود.
        ماده ۴:تعهدات هتل
        ۴-۱) هتل متعهد میشود کلیه اطلاعات، شرایط عمومی و عکس اتاق ها  را در وبسایت مبیت وارد نماید.
        ۴-۲) هتل متعهد می‌شود نسبت به بروزرسانی آنلاین تقویم و نرخ‌های هر اقامتگاه راسا و به موقع اقدام نماید.
        ۴-۳) نظافت اولیه (جارو، نظافت یخچال ، سینک آشپزخانه تمیز، سرویس های بهداشتی ، تعویض ملحفه ، تخلیه سطل آشغال ها، آب استخر تمیز و ... ) بعد از خروج هر مهمان به عهده هتل است.
        ۴-۴) هتل نمی‌تواند پس از دریافت وجه از سایت مبیت، نسبت به کنسل کردن رزرو اقدام نماید.
        ۴-۵) هتل متعهد می‌شود پس از تائید درخواست مهمان حداکثر تا ۲ ساعت اقامتگاه را برای مهمان خالی نگه دارد. در صورتی که مهمان دیگری بصورت حضوری در این بازه زمانی جهت رزرو و پرداخت اقدام نمود هتل متعهد است تا مراتب را به سایت اطلاع دهد.
        ۴-۶) هتل نسبت به انطباق اطلاعات و شرایط فیزیکی واقعی اقامتگاه و تطابق آن با عکسها مسئول است. در صورت مغایرت، مبیت مجاز خواهد بود ضمن بازگرداندن وجه دریافتی از مهمان و کسر آن از حساب هتل، ۲۰٪ از مبلغ پرداختی را بعنوان ضرر و زیان خود در حساب بستانکاری از هتل لحاظ نماید.
        ۴-۷) در صورت فعال کردن گزینه آماده تحویل برای هر اتاق یا سوئیت، مهمان امکان استفاده از تخفیف‌های شبانه (رزرو سریع) را دارد. در این صورت به‌روزرسانی لحظه‌ای تقویم اجباری است.
        تبصره ۱-۴: تخفیف های شبانه از ساعت ۹ شب تا ۱۲ ظهر فردا فعال بوده و پرداخت آن توسط مهمان بدون معطلی و بدون نیاز به تایید هتل صورت می‌گیرد. این گزینه در صورت عدم رزرو اقامتگاه بصورت خودکار فعال می‌گردد.
        ۴-۸) هتلی که گزینه آماده تحویل را فعال نکند متعهد میشود در کمتر از ۲ ساعت به درخواست رزرو پاسخ دهد.( قبول یا رد کند)
        ۴-۹) هتل متعهد به بستن قرارداد فیزیکی با مهمان است(طبق قوانین خود هتل). کارت شناسایی مهمان بعنوان تضمین و امانت در طول مدت اقامت در اختیار هتل خواهد بود.
        ۴-۱۰) هتل متعهد می‌شود در راستای تبلیغات و ارائه خدمات بهتر نسبت به همکاری‌های لازم با مبیت و مهمانان آن اقدام نماید.
        ماده ۵: شرایط عمومی
        ۵-۱) مهمان موظف به بازگرداندن اتاق با همان شرایط اولیه، پس از پایان دوره اقامت به هتل می باشد. در صورت بروز مشکل، حل و فصل آن برعهده‌ی هتل و مهمان بوده و مبیت مسئولیتی در این خصوص ندارد.
        ۵-۲) در صورت کنسل کردن رزرو توسط مهمان، وجه بر اساس ماده 6 بازپرداخت خواهد شد.
        ماده۶ : شرایط کنسلی توسط مهمان
        1-6 ) مهمان اگر تا قبل از 72ساعت رزرو خود را کنسل کند، 20درصد از مبلغ پرداختی به ‌عنوان خسارت کسر می‌گردد     2-6) درصورتی‌که مهمان در محل اقامت حضور داشته باشد و قصد خروج زودتر از تاریخ رزرو را داشته باشد، هزینه اقامت یک شب اضافه از وی گرفته شده و باقی پول به حساب وی واریز می‌گردد
        6-3) در شرایط فورس ماژور( سیل، زلزله، بسته بودن مسیر و یا کنسلی پرواز) امکان کنسل کردن رزرو توسط مهمان وجود دارد.

        ماده ۷: شرایط فورس ماژور
        اصل بر الزام آوری این تفاهم نامه است و موضوع فورس ماژور طبق ماده ۲۲۹ قانون مدنی ایران، ناظر بر وجود همزمان سه شرط غیر قابل اجتناب وغیر قابل پیش بینی بودن رخداد و وقوع عامل مستحدث خارجی منصرف از اراده طرفین است.
        ماده ۸: فسخ
        ۸-۱) چنانچه هتل به هر کدام از تعهدات خود در این تفاهم نامه عمل نکند مبیت می‌تواند نسبت به فسخ بصورت یکطرفه اقدام نماید.
        ۸-۲) شرایط فورس ماژور به خودی خود سبب فسخ این تفاهم نامه است.

    </p>
}
@if (culture == "ar")
{
    <p>
        إتفاقیة التعاون
        تم إنعقاد هذه الإتفاقیة للتعاون بین شرکة "همسانه پردیس" للتکنولوجیا الذکیة (الأسهم الخاصة) و تسمی فیما بعد "مبیت" و عنوانها :شارع الشهید بهشتي،شارع أندیشة،زاویة أندیشة رقم 7،رقم ‌12 و(صاحب الموقع مبیت) وصاحب الفندق،و الشقق الفندقیة،الحانة،و ما إلی ذلك المشار إلیها فیما بعد یسمی "الفندق".
        ملاحظة1:الشخص الذي یقوم بالحجزیومیاً أو منتصف فترة إقامته عبرالإنترنت في الموقع الإلکتروني یسمی الضیف.
        ملاحظة2:نسمي في هذه الإتفاقیة فیما بعد الفندق ،الشقق الفندقیة ،الحانة،هاستل و غیرها "الفندق".
        المادة 1:مو‌ضوع الإتفاقیة
        یشتمل موضوع هذه الإتفاقیة علی تقدیم خدمات الحجز عبر الإنترنت یومیاً أو منتصف المدة و الإعلانات عبرالإنترنت للإقامة من طرف شرکة مبیت للفندق،عن طریق إستلام مبلغ الحجز عبرالإنترنت.
        المادة 2: مبلغ الإتفاقیة
        1ـ2)طریقة دفع الرسوم لمبیت ،للتسویق،سیکون وفقا للأرقام المتفق علیها و هي 10%من المبلغ الذي دفعه الضیف إلی الموقع.
        2-2)یستلم الفندق مبلغ حجزها بعد خصم أجر مبیت.
        2-3)سیکون زمن دفع المبلغ للحجز إلی الفندق یوم بعد دفع الضیف.
        2-4)یجب أن تتم جمیع المدفوعات علی رقم الحساب المصرفي الذي أعلنه الفندق. ویجب الإبلاغ عن أي تغییرات علی رقم حساب المصرف للفندق بنحو مکتوبة أو عبرالبرید الإلکتروني.
        المادة 3:إلتزامات مبیت
        1-3)تدعم مبیت الفندق في مجال البیع و التسویق عبرالإنترنت للحجز و سوف تتخذ الخطوات اللازمة.
        2-3)یتم توفیر الدعم عبر الهاتف علی عاتق مبیت.
        3-3)تلتزم مبیت بدفع الفنادق في الوقت المحدد(وفقا للمادة 2-2)
        المادة 4:التزامات الفندق
        4-1)تلتزم الفندق بتوفیر جمیع المعلومات و الظروف العامة و صور الغرف علی الموقع الإلکتروني لمبیت.
        4-2)یتعهد الفندق بتحدیث التقویم عبرالإنترنت و معدلات الإقامة في الوقت الوقت المحدد.
        4-3)التنظیف الأولی(مکنسة،تنظیف الثلاجة،تنظیف مغسلة المطبخ،المرافق،تبدیل الشراشف،إخلاء سلة القمامة،ماء المطبخ النظیفة و ما إلی ذلك) سیکون علی عاتق الفندق بعد مغادرة أي ضیف.
        4-4)لا یستطیع الفندق إلغاء الحجز بعد إتمام الدفع من موقع مبیت.
        4-5)یتعهد الفندق بعد الموافقة علی طلب الضیف بإبقاء مکان الإقامة فارغا لمدة ساعتین.إذا وصل ضیف آخر في هذا الوقت للحجز أو للدفع فالفندق ملزم بإبلاغ الموقع.
        4-6)الفندق مسؤول عن تطبیق المعلومات و الظروف المادیة الفعلیة لمکان الإقامة و مطابقتها مع الصور. إذا لم تکن الأمر کذلك فیسمح مبیت إسترداد المبلغ إلی الضیف و خصمه من حساب الفندق و 20% من إجمالي المبلغ المدفوع سیبقی في رصید الفندق کخسارة.
        4-7)إذا قمت بتفعیل مفتاح التسلیم الجاهز لکل غرفة 7أونجاح ،یستطیع الضیف الحصول علی خصومات لیلیة(حجزسریع).في هذه الحالة یکون التحدیث الفوري للتقویم إلزامیاً.
        الملاحظة1-4:یتم تفعیل الخصومات اللیلیة من الساعة 9مساء حتی 12ظهر غدا و یتم دفعها من قبل الضیوف دون تأخیر و دون موافقة الفندق. سیتم تفعیل هذا الخیار تلقائیا إذا لم یتم حجز مکان الإقامة.
        4-8)یتعد الفندق بالرد علی طلب الحجز في أقل من الساعتین(قبول أو رفض) إذا لا یفعل خیار جاهزا للتسلیم.
        4-9)یلتزم الفندق بإبرام إتفاقیة مادیة مع الضیف(وفقا لقوانین الفندق الخاصة).سیتم بقاء بطاقة الهویة للضیف عندالفندق کضمان في فترة إقامتك.
        4-10)یلتزم الفندق في مجال الإعلانات و تقدیم أفضل الخدمات بمشارکة مع مبیت و ضیوفها.
        1-5)یلتزم الضیف بإرجاع الغرفة نفسها کما هي،عند إنتهاء الإقامة. إذا کانت هناك أي مشکلة شرکة مبیت لیست لها مسؤولیة و تکون مسؤولیة حلها علی عاتق الفندق و الضیف.
        5-2)في حالة القیام الضیف بإلغاء الحجز سیتم رد المبلغ وفقاً للمادة 6.
        المادة6:شروط إلغاء الحجز من قبل الضیف
        6-1)إذا ألغي الضیف حجزه قبل 72 ساعة ،سیتم إسترداد 20% من المبلغ المدفوع کخصم.
        2-6) إذا كان الضيف موجودًا في مكان الإقامة ويرغب في المغادرة قبل تاريخ الحجز ، فسيتم فرض رسوم على الإقامة لليلة واحدة وسيتم إيداع المبلغ المتبقي في حسابه.
        3-6)في حالة الطوارئ(الفیضانات،الزلزال،أو إغلاق الطرق،أو إلغاء الإقلاع)یمکن للضیف إلغاء الحجز.
        المادة 7:حالة الطوارئ
        المبدأ ملزم علی هذه الإتفاقیة و موضوع حالة الطوارئ بموجب مادة 299 من القانون المدني الإیراني الوجود المتزامن للثلاثة شروط لا یمکن تجنبها و لا یمکن التنبؤ بها و وقوع حادث خارج نطاق إختصاص الطرفین.
        المادة 8:إبطال
        8-1:إذا ما إلتزم الفندق بجمیع إلتزاماته بموجب هذه الإتفاقیة ،یستطیع الفندق بإبطاله من جانب واحد.
        8-2)الظروف الطارئ في حد ذاتها تسبب إبطال هذه الإتفاقیة.

    </p>
}