@{
      var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

@if (culture == "en")
{
    <p>
        Dear User, Please consider the following to make the most of the services and applications of this site. Logining to the site and using personal profiles, downloads, uploads and other services means being aware of, accepting the terms and conditions and using the Service and not having the right to use it.

        General conditions
        • This service is the sole liaison between you and other Members and Users and has no control over or interferes with the Host, Guest or other users' obligations.
        • Make sure the information is accurate and complete when filling out the form and list.
        • The user agrees that he will not perform any wrong actions that negatively impact the site.
        • This page will be updated and updated if the laws, procedures and services are changed in the future.
        • The user guarantees to be over 18 years of age using this service.
        • If a Nibaba user accepts these terms on behalf of the legal entity, it has the power to comply with the terms and conditions.
        • Mobit Website is subject to the laws of the Islamic Republic of Iran and Iraq and the information entered by members who are found to be in violation of these laws will be deleted.
        • Identification and confidentiality documents are required at the time of rental, and the site does not have any responsibility for this.
        • The Mobit site sends you SMS and emails to let you know what's new. You hereby consent to receive such messages. You can also change your SMS and email settings by sending an email to info@mabit.app.

        residence
        • The host is aware and warrants that all property information will not conflict with the local laws and conditions of the homeowner, co-owner, apartment, etc., and will not be entitled to change the price upon the guest's booking. The host property must meet the minimum standards for access, cleanliness and security. Also be present at the time of delivery of the host property or its agent.
        • The site gives the photographer the opportunity to have more professional photos of your property. Of course, reserving the right to publish these photos for the site.
        • Information entered or edited by members is displayed on the Mobit site after approval by the site expert.

        Booking Financial Terms

        • The sole host is committed to preparing and delivering the property to the guest at the specified time and the site has no obligations whatsoever.
        • After confirmation by the owner of the booking and completion of the payment process, a detailed confirmation message will be sent to the guest. If the guest cancels the contract, either before the property is delivered or when it is delivered, the rent will be refundable depending on the residence owner's identification and the percentage of the site is non-refundable.
        • No refunds will be made to the passenger at the time of booking and the accommodation will be vacant for the duration of the reservation.

        If the following is not observed, the guest is entitled to request a refund:
        • Minimum property standards
        • Do not match host list descriptions such as metrics, number of sleeps, etc.
        • Explain the property for its privacy.
        Only 24 hours after the start date of your reservation, the guest has the option to announce one of the above to refund their money via the "Mobit" site or by calling +9385853558 (The conditions listed for guest refund are irrevocable.)
        • In case of cancellation by the owner, the guest can choose to either return all the money to him or by choosing a new residence, considering the prepayment site for the new reservation and the host should know that this cancellation is in the feedback of his page. It will be recorded automatically.
        • Any changes or changes to the reservation are made by the guest or the host at their own risk and the site will not interfere.
        • If the site cancels the contract, it is not responsible for paying damages to the host and guest.
        Damage to accommodation
        • The guest is obliged to deliver the property as it is delivered, and shall be liable for any damage caused by himself, his guests, or those who have entered the property with his permission.
        • The guest will report damage to the host. Pays for damages if agreed.

        Too much accommodation without the consent of the host
        • The guest is committed to delivering the property at the specified time on the host list, otherwise the host has the option of evicting them and receiving a fine that is twice the amount of the overnight agreement.

        Report abuse
        • If any of the parties witnessed inappropriate behavior, theft, violence, etc. during the guest's stay in the property, first inform the police immediately and then inform the site. But the site is not responsible for acting against those people and only that person's account will be deleted.

        Disclaimer
        • This site is under no obligation whatsoever to record members' crimes and if it does so at its own discretion, it does not see any reason to disclose it prior to member abuse. Request your records when necessary to prevent fraud and fraud against your primary information such as name, date of birth, email, etc., and make no commitment that the contracts are in accordance with people's expectations and in a secure manner without any problems Go ahead.
        • The site is free to accept any liability or indemnification for the quality of its listings, properties, hosts, guests, services, integrity, trust, etc.
    </p>
}
@if (culture == "fa")
{
  <p style="direction:rtl">
    کاربر گرامی لطفا موارد زیر را جهت استفاده بهینه از خدمات و برنامه های این سایت به دقت ملاحظه فرمائید. ورود کاربران به سایت و استفاده از پروفایل شخصی، دانلود، آپلود و سایر خدمات به معنی آگاه بودن، پذیرفتن شرایط و قوانین و نحوه استفاده از سرویس است و در صورت نپذیرفتن آن مجوز استفاده را ندارند.

    شرایط عمومی
    •	این سرویس تنها رابطی بین شما و دیگر اعضاء و کاربران می باشد و هیچگونه کنترل و دخالتی بر انجام تعهدات میزبان، مهمان و دیگر کاربران ندارد.
    •	دقت کنید در هنگام پرکردن فرم و لیست، اطلاعات صحیح و به طور کامل ارائه گردد.
    •	کاربر توافق می کند که هیچ عملکرد اشتباهی که بازتاب منفی بر سایت بگذارد انجام نخواهد داد.
    •	در صورتیکه قوانین مندرج، رویه ها و سرویس دهی ها در آینده تغییراتی ایجاد شود، در همین صفحه منتشر و به روزرسانی خواهد شد.
    •	کاربر با استفاده از این سرویس ضمانت می کند که بالای 18 سال سن دارد.
    •	اگر کاربر نیابتا از طرف شخص حقوقی این شرایط را می پذیرد یعنی این قدرت را دارد که آنها را پایبند به ضوابط و شرایط کند.
    •	وب سایت مبیت، تابع قوانین کشور جمهوری اسلامی ایران و عراق بوده و اطلاعات وارد شده توسط اعضاء که مغایر با این قوانین تشخیص داده شود حذف خواهد شد.
    •	همراه داشتن مدارک شناسایی و محرمیت در زمان مراجعه به مورد اجاره الزامی است و سایت مبیت هیچگونه مسئولیتی در این مورد ندارد.
    •	سایت مبیت برای اطلاع یافتن شما از مطالب جدید به شما پیامک و رایانامه ارسال می کند. شما بدینوسیله موافقت خودرا با دریافت اینگونه پیام ها اعلام می دارید. همینطور شما می توانید تنظیمات دریافت پیامک و رایانامه را با ارسال یک نامه الکترونیک به آدرس info@mabit.app تغییر دهید.

    محل اقامت
    •	میزبان آگاه است و تعهد می کند که تمام اطلاعات مربوط به ملک با قوانین محلی و شرایط صاحب خانه، ملک مشترک، آپارتمانی و غیره، مغایرت و تداخلی نخواهد داشت و همچنین پس از رزرو ملک توسط مهمان حق تغییر قیمت را ندارد. ملک میزبان باید حداقل استانداردها را از نظر دسترسی، نظافت و امنیت دارا باشد. همچنین در زمان تحویل ملک میزبان یا نماینده او حضور داشته باشد.
    •	سایت با در اختیار گذاشتن عکاس این امکان را برای شما فراهم می کند که عکس های حرفه ای تری از ملک خود داشته باشید. البته با حفظ حق انتشار این عکسها برای سایت.
    •	اطلاعات وارد یا ویرایش شده توسط اعضاء بعد از تایید کارشناس سایت در سایت «مبیت» نمایش داده می‌شود.

    شرایط مالی رزرو

    •	تنها میزبان متعهد به آماده سازی و تحویل ملک به مهمان در زمان مشخص شده می باشد و سایت هیچگونه تعهدی در این زمینه ندارد..
    •	بعد از تایید رزرو توسط مالک و تکمیل مراحل پرداخت، یک پیام تائیدیه با جزئیات به مهمان ارسال خواهد شد. در صورت لغو قرارداد توسط مهمان چه قبل از تحویل ملک، چه در هنگام تحویل آن، استرداد مبلغ اجاره بسته به تشخیص مالک اقامتگاه است و درصد متعلق به سایت غیر قابل استرداد می باشد.
    •	در صورت عدم مراجعه مسافر در زمان رزرو هیچگونه وجهی به او بازگردانده نخواهد شد و اقامتگاه در مدت زمان رزرو شده برای ایشان خالی نگه داشته می شود.

    در صورت رعایت نشدن موارد زیر مهمان حق درخواست بازگشت پول خود رادارد:
    •	حداقل استانداردهای ملک
    •	مطابقت نداشتن با توضیحات لیست میزبان مانند متراژ، تعداد خواب ها و ...
    •	توضیح ملک برای خصوصی بودن آن .
    مهمان تنها 24 ساعت بعد از تاریخ شروع رزرو خود مهلت دارد تا یکی از موارد بالا را برای استرداد پول خود از طریق سایت "مبیت" یا تلفن +9385853558 به سایت اعلام کند. ( شرایط ذکر شده برای استرداد پول مهمان غیرقابل تغییر و جایگزینی هستند.)
    •	در صورت لغو رزرو توسط مالک ، مهمان می تواند انتخاب کند یا تمامی پول به او بازگردانده شود و یا با انتخاب اقامتگاه جدید، سایت پیش پرداخت را برای رزرو جدید در نظر گرفته و همچنین میزبان باید بداند که این لغو رزرو در بازخورد صفحه اش به صورت خودکار ثبت خواهد شد .
    •	هرگونه اصلاح یا تغییر در رزرو توسط مهمان و یا میزبان با مسئولیت و هماهنگی خودشان صورت می گیرد و سایت هیچ دخالتی نخواهدداشت.
    •	در صورتیکه سایت قراردادی را لغو کند، هیچگونه مسئولیتی برای پرداخت خسارت به میزبان و مهمان ندارد.
    خسارت وارده به محل اقامت
    •	مهمان وظیفه دارد ملک را همانطور که تحویل می گیرد، تحویل نیز بدهد و در صورت بروز هرگونه خسارتی توسط خودش، مهمانانش و یا افرادی که با اجازه او به ملک وارد شده اند، پدید آید موظف به جبران می باشد.
    •	اعلام خسارت توسط میزبان به مهمان انجام خواهد شد. در صورت توافق مهمان خسارت را پرداخت می کند.

    اقامت بیش از حد بدون رضایت میزبان
    •	مهمان متعهد به تحویل ملک در زمان مشخص شده در لیست میزبان می باشد در غیراینصورت میزبان اختیار بیرون کردن آنها و گرفتن جریمه ای که دو برابر مبلغ توافقی شبانه است را دارد.

    اعلام سوء رفتار
    •	در صورتیکه طی اقامت مهمان در ملک میزبان هر یک از طرفین شاهد رفتار نامناسب، دزدی، خشونت و غیره بودند ابتدا سریعا به پلیس اطلاع داده و سپس سایت را مطلع می کنند. اما سایت مسئولیتی برای اقدام علیه ان افراد ندارد و تنها حساب کاربری آن فرد حذف خواهد شد.

    سلب مسئولیت ها
    •	این سایت هیچگونه تعهدی نسبت به سابقه و جرائم اعضاء ندارد و اگر هم بنا به صلاحدید خود درباره سابقه اعضاء تحقیق کند، دلیلی برای اعلام آن قبل از سوء استفاده عضو نمی بیند.گرچه شما با استفاده از این سایت این اجازه را به سایت می دهید که در مواقع لازم برای جلوگیری از تقلب و کلاهبرداری از اطلاعات اولیه شما مانند اسم، تاریخ تولد، رایانامه و غیره از سازمان مربوطه سوابق شما را درخواست کند و همچنین هیچ تعهدی نمی دهدکه قراردادها مطابق با انتظارات افراد و در امنیت و بدون هیچ مشکلی پیش برود.
    •	سایت از هرگونه قبول کردن مسئولیت و غرامتی در زمینه کیفیت لیست ها ، ملک ها، میزبان، مهمان، سرویس ها، صداقت، اعتماد و غیره خود را مبرا می کند.
    •	سایت هیچگونه مسئولیتی در قبال روابط و تعاملات کاربران با یکدیگر و یا کسانی که در نتیجه استفاده از سایت با آنها آشنا شده اید ندارد.

    کاربران نباید
    •	هیچ قانون محلی ، استانی، کشوری، منطقه ای و ملی را زیر پا بگذارند.
    •	از سرویس برای تبلیغات و اهداف دیگر استفاده کنند.
    •	اطلاعات، عکس یا مشخصات شخص دیگری را بدون اجازه او استفاده کند.
    •	اطلاعات حساب شخصی دیگر را بدون اجازه او استفاده کند.
    •	تلاشی برای تخریب یا رخنه به سیستم، خط سایت، جعل و غیره انجام دهد.
    •	همکاری در تحریک و تشویق شخص ثالث در هر یک از موارد بالا انجام دهد.
    •	سایت حق بررسی و تحقیق و پیگرد قانونی را در هر یک از موارد بالا تا بالاترین حد قانونی دارد.
</p>
}
@if (culture == "ar")
{
<p>
    عزیزی المستخدم یرجی المراقبه ما یلی من هذه الخدمات وبرامج هذا الموقع .دخول المستخدمین الی الموقع و استخدامهم من الملف الشخصی تحمیل و تنزیل و الخدمات الاخری بمعنی تفطن الشخص و و تقبل جمیع الظروف و الاحکام و طریقه الاستعمال من هذه الخدمه و فی حاله الرفض لا یوجد لدیهم اجازه للاستخدام منها.

    ظروف عامه
    .     هذه الخدمه فقط حلقه اتصال بینکم و بین الاعضاء و المستخدمین و لیس لها ای سیطره علی اداء موجبات المضیف و الضیف و المستخدمین الاخرین.
    .     کن متاکد عند ملء الاستماره و القائمه بالمعلومات بنحو صحیحه و کامله .
    .     یوافق المستخدم علی انه لن یقوم بای اجراءات خاطئه التی عندها تاثیرا سلبیا علی الموقع.
    .     اذا کان هناک ای تغییر فی القوانین و اللوائح و الخدمات فی المستقبل سیتم نشرها و تحدیثها فی الموقع.
    .     یضمن المستخدم عند استخدامه من هذا الموقع بانه تجاوز عمره من 18 عاما.
    .     اذا وافق المستخدم نیابتا عن الشخصیه الاعتباریه علی هذه الشروط و الاحکام بمعنی  ان لدیه قدره بالتزامهم بالشروط و الاحکام.
    .     یخضع موقع مبیت لقوانین جمهوریه ایران الاسلامیه  و العراق واذا کانت جمیع المعلومات التی ادخلها الاعضاء مخالفا مع هذالاحکام سیتم حذفه.
    .     لازم ان یکون معک بطاقه الهویه والزواج فی وقت الاستئجار و موقع مبیت لا یتحمل ای مسوولیه فی هذه الحاله.
    .     یرسل موقع مبیت لکم الرسائل و البرید الالکترونی لاطلاعکم علی الامور الحدیثه.انت توافق بموجب هذا علی تسلیم هذه الرسائل.یمکنک ایضا تغییر اعدادات الرسائل القصیره و البرید الالکترونی عن طریق ارسال برید الالکترونی الی عنوانinfo@mabit.app.
    موقع السکن
    .     المضیف یعرف و یتعهد ان جمیع المعلومات التی ترتبط الی البیت لت تتداخل مع القوانین والشروط المحلیه او ملک التعاونیه او الشقه و غیرها  کما انه لا یحق له تغییر السعر بعد ان یحجز الملک.یجب ان یکون فی ملک المضیف جمیع المعاییر کالوصول و النظافه و الامان.ایضا عند تسلیم البیت یجب ان یکون حاضرا هناک المضیف او نائبه .
    .    یوفر لک الموقع مصورا لکی تکون لدیک المزید من الصور الاحترافیه بالطبع مع حفظ حق نشر هذه الصورفی الموقع.
    .    یتم عرض المعلومات التی یتم ادخالها او تحریرها من قبل الاعضاء علی الموقع ((مبیت))بعد موافقه خبیر الموقع.

    شروط الحجز المالیه

    .    فقط المضیف ملتزم باعداد و تسلیم الملک فی الوقت المحدد و لیس علی الموقع ای التزام فی هذا المجال.
    .    بعد تاکید من الحجز من قبل المالک و اتمام عملیه دفع سیتم ارسال رساله تاکید بالتفصیل الی الضیف.اذا الغی الضیف العقداما قبل تسلیم الملک او فی وقت التسلیم یخضع المبلغ المسترد لتشخیص مالک السکن و تکون النسبه التی تتعلق الی الموقع غیر قابله للاسترداد.
    .   فی حاله عدم العوده المسافر فی وقت الحجزلن یسترد ای مبلغ الیه و السکن سیظل شاغرا له طوال مده الحجز.



    اذا لم یتم مراعاه ما یلی  یحق الضیف ان یطلب استرداد مبلغ الذی دفعه:

    .   الحد الادنی لمعاییر الملکیه
    .   عدم التوافق مع ملاحظات قائمه المضیف کالمساحه وعدد غرفه النوم...
    .   تفصیل الملک بانها یکون خاصه .
    بعد 24 ساعه فقط من تاریخ بدء فتره الحجز ستتاح للضیف الفرصه للاعلان عن واحد مما سبق لاسترداد مبلغ الذی دفعه عبر الموقع((مبیت))او عبر الهاتف +9385853558.(الشروط المذکوره لاسترداد مبلغ الذی دفعه الضیف لا یمکن تعویضها)
    .   عند الالغاء الحجز من قبل المالک الضیف یمکن له ان یختار بارجاع کل المبلغ الیه او مع انتخاب السکن الجدید یفکرالموقع فی الدفع المسبق للحجز الجدید و یجب ان یعلم المضیف ایضا ان هذا الالغاء سیتم تسجیله تلقائیا فی تعلیقات الصفحه الخاصه به.

    .   ای اصلاح او تعدیل فی الحجزمن قبل الضیف او المضیف سیکون علی عاتقهما و الموقع لایکون له ای تدخل.
    .   اذا الغی اتفاق من قبل الموقع فهو غیر مسوول عن دفع الاضرار للمضیف و الضیف.
    الاضرار التی سیلحق الی السکن.
    .   یجب علی الضیف تسلیم الملک کما کان فی الاول و یکون مسوول عن ای ضرریحدثه هو او ضیوفه او اولئک الذین دخلوا الی السکن باذنه.
    .   المضیف سیخبر الضیف عن الاضرار التی حدثت و فی حاله الاتفاق یدفع الضیف الخساره.

    الکثیر من الاقامه دون موافقه المضیف
    .   یلتزم الضیف بتسلیم السکن فی وقت المحددفی قائمه المضیفین و الا فان المضیف لدیه خیار طردهم و اخذ غرامه تعادل ضعف مبلغ الاقامه للیله واحده التی وافقوا علیها.
    ابلاغ سوء معامله
    .   اذا شهد ای من الاطراف تصرفا غیر لائقا او سرقه او عنفا اثناء اقامتهم فی ملک المضیف علی المضیف ان یبلغ الشرطه فورا ثم یخبر الموقع بذلک الامر.لکن الموقع غیر مسوول عن العمل ضد هولاء الاشخاص وسیتم حذف حساب ذلک الاشخاص فقط.

    نزع الوظائف

    .   هذا الموقع لیس ملزم بای سابقه او جرائم للاعضاء و اذا حسب تقدیرها تحقق فی سابقه و خلفیه الاعضاء لا یری ای سبب للاعلان عنها قبل سوء الاستعمال العضو.مع ذلک حین الاستخدام من هذا الموقع تمنح الموقع لکی فی الحالات الطارئه من اجل الاحتماء من الاحتیال والخدعه من معلوماتک الاساسیه کالاسم و التاریخ الولاده والبرید الالکترونی وغیرها یطلب من منظمه المختصه سوابقک و ایضا لا یلتزم بان جمیع الاتفاقات یسیر حسب توقعات الاشخاص و فی الامان و دون ای مشکله.
    .   الموقع یبری نفسه من ای التزام بالمسوولیه والضمان فی مجال جوده القوائم والملکیه و المضیف و الضیف و الخدمات و الصداقه و الاعتماد و غیرها.
    .   الموقع لا یوجد عنده ای مسوولیه فی مقابل تعاملات و تصرفات الاعضاء معا او مع الاشخاص الذین فی النتیجه الاستخدام من الموقع تعرفوا معا.


    یجب علی المستخدم بان
    .   لا ینتهک ای قانون من القوانین المحلیه و الاقلیمیه و الدولیه والوطنیه.
    .   لا یستخدم من الخدمات للاعلان و اهداف اخری.
    .   لا یستخدم من الصور و معلومات الاشخاص دون اذنه.
    .   لا یستخدم من معلومات الحساب شخص اخر دون اذنه.
    .   لا یبذل ای جهد لتدمیر النظام او النفوذ الی الموقع او تزویره وغیرها.
    .   لا یتعاون فی تشجیع طرف ثالث فی کل ما ذکر فی الاعلی.
    .   الموقع له حق فی الملاحظه و التحقیق والنیابه العامه فی الحالات المذکوره قانونیا الی اعلی مستوی.
</p>
}