@model WebUI.Models.HostingViewModel
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<style>
    #roomMessage {
        display: none;
    }

    .credit-sign-plus {
        position: relative;
        bottom: 3px;
    }

        .credit-sign-plus i {
            padding: 6px 5px;
            font-size: 10px;
        }

    .brd-r-15 {
        border-radius: 15px;
    }

    .mabit-middle-gray {
        color: #acacac;
    }

    .mabit-light-gray {
        color: #cfcfcf;
    }
</style>
<div class="step-head">
    <h5 class="offset-1" localize-content>My Units</h5>
    <div class="d-inline-block">
        <i class="step"></i><h6 class="offset-2" localize-content>Reserved Requests</h6>
    </div>
</div>

<section id="employer-post-new-job">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" id="container">
                    <div class="alert alert-danger" role="alert" id="roomMessage">
                    </div>
                    <div class="res-steps-container bg-step">
                        <div class="res-steps res-step-one active" data-class=".res-form-one">
                            <div class="res-step-bar"></div>
                            <div class="res-progress-bar"></div>
                            <div class="res-progress-title" localize-content>Unit Kind & Rules</div>
                        </div>
                        <div class="res-steps res-step-two res-style" data-class=".res-form-two">
                            <div class="res-step-bar"></div>
                            <div class="res-progress-bar"></div>
                            <div class="res-progress-title" localize-content>Images</div>
                        </div>
                        <div class="res-steps res-step-three res-style" data-class=".res-form-three">
                            <div class="res-step-bar"></div>
                            <div class="res-progress-bar"></div>
                            <div class="res-progress-title" localize-content>Location</div>
                        </div>
                        <div class="res-steps res-step-four res-style" data-class=".res-form-four">
                            <div class="res-step-bar"></div>
                            <div class="res-progress-bar"></div>
                            <div class="res-progress-title" localize-content>Description</div>
                        </div>
                        <div class="res-steps res-step-five res-style" data-class=".res-form-five">
                            <div class="res-step-bar"></div>
                            <div class="res-progress-bar"></div>
                            <div class="res-progress-title unit-txt" localize-content>Measurment</div>
                            <div class="res-progress-title hotel-txt" style="display:none;" localize-content>Internal Specification</div>
                        </div>
                        @*<div class="res-steps res-step-five res-style hotel-txt" data-class=".res-form-five-hotel">
                                <div class="res-step-bar"></div>
                                <div class="res-progress-bar"></div>
                                <div class="res-progress-title" localize-content>Internal specifications</div>
                            </div>*@
                        <div class="res-steps res-step-six res-style" data-class=".res-form-six">
                            <div class="res-step-bar"></div>
                            <div class="res-progress-bar"></div>
                            <div class="res-progress-title unit-txt" localize-content>Capacity</div>
                            <div class="res-progress-title hotel-txt" style="display:none;" localize-content>Area Culture</div>
                        </div>
                        <div class="res-steps res-step-seven res-style" data-class=".res-form-seven">
                            <div class="res-step-bar"></div>
                            <div class="res-progress-bar"></div>
                            <div class="res-progress-title" localize-content>Options</div>
                        </div>
                        <div class="res-steps res-step-eight res-style" data-class=".res-form-eight">
                            <div class="res-step-bar"></div>
                            <div class="res-progress-bar"></div>
                            <div class="res-progress-title" localize-content>Rules</div>
                        </div>
                        <div class="res-steps res-step-nine res-style" data-class=".res-form-nine">
                            <div class="res-step-bar"></div>
                            <div class="res-progress-bar"></div>
                            <div class="res-progress-title unit-txt" localize-content>Cost</div>
                            <div class="res-progress-title hotel-txt" style="display:none;" localize-content>Category</div>
                        </div>
                        <div class="res-steps res-step-ten res-style" data-class=".res-form-ten">
                            <div class="res-step-bar"></div>
                            <div class="res-progress-bar"></div>
                            <div class="res-progress-title">Rooms</div>
                        </div>

                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="res-step-form col-12  res-form-one">
                        <partial name="_HostingStepOne" />
                    </div>
                    <div class="res-step-form col-12 res-form-two">
                        <partial name="_HostingStepTwo" />
                    </div>
                    <div class="res-step-form col-12 res-form-three">
                        <partial name="_HostingStepThree" />
                    </div>
                    <div class="res-step-form col-12 res-form-four">
                        <partial name="_HostingStepFour" model="@Model" />
                    </div>
                    <div class="res-step-form col-12 res-form-five">
                        <partial name="_HostingStepFive" />
                    </div>
                    @*<div class="res-step-form col-12 res-form-five-hotel">
                            <partial name="_HotelHostingStepFive" />
                        </div>*@
                    <div class="res-step-form col-12 res-form-six">
                        <partial name="_HostingStepSix" />
                    </div>
                    <div class="res-step-form col-12 res-form-seven">
                        <partial name="_HostingStepSeven" />
                    </div>
                    <div class="res-step-form col-12 res-form-eight">
                        <partial name="_HostingStepEight" />
                    </div>
                    <div class="res-step-form col-12 res-form-nine">
                        <partial name="_HostingStepNine" />
                    </div>
                    @*<div class="res-step-form col-12 res-form-ten">
                            <partial name="_HotelStepTen" />
                        </div>
                        <div class="res-step-form col-12 res-form-eleven">
                            <partial name="_HotelStepEleven" />
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

@*<script>
        var steps = [];
        $("input[name='categoryType']").change(function () {
            debugger;
            var radioId = $(this).attr('id');
            if (radioId == "singleUnit") {
                setUnitSteps();
            } else {
                setHotelSteps();
            }
        });

        function setUnitSteps() {
            steps = [];
            $('.res-steps-container').children().each(function () {
                if (!$(this).hasClass("hotel-txt")) {
                    steps.push($(this));
                }
            });
        }

        function setHotelSteps() {
            steps = [];
            $('.res-steps-container').children().each(function () {
                if (!$(this).hasClass("unit-txt")) {
                    steps.push($(this));
                }
            });
        }

         var i = 1;
            $(".res-step-form .res-btn-orange").click(function () {
                debugger;
                var getClass = $(this).attr('data-class');

                if (getClass != ".res-form-nine") {
                    $(".res-steps").removeClass('active');
                    $(steps[i]).addClass('active');
                    $(steps[i - 1]).addClass('activated');
                    i++;
                }
                if (getClass != ".res-form-nine") {
                    $(getClass).css('display', 'none');
                    $(getClass).next().css('display', 'block');

                }
            });

            /* step back */
            $(".res-step-form .res-btn-gray").click(function () {
                var getClass = $(this).attr('data-class');
                $(".res-steps").removeClass('active');
                if (i >= 1) {
                    i--;
                } else {
                    i++;
                }

                $(steps[i - 1]).addClass('active');
                $(steps[i - 1]).removeClass('activated');

                $(getClass).css('display', 'none');
                $(getClass).prev().css('display', 'block');
            });

    </script>*@
<script>
    $(document).ready(function () {

        var steps = $('.res-steps-container').children();

        var i = 1;
        $(".res-step-form .res-btn-orange").click(function () {
            debugger;
            var getClass = $(this).attr('data-class');

            if (getClass != ".res-form-nine") {
                $(".res-steps").removeClass('active');
                $(steps[i]).addClass('active');
                $(steps[i - 1]).addClass('activated');
                i++;
            }
            if (getClass != ".res-form-nine") {
                $(getClass).css('display', 'none');
                $(getClass).next().css('display', 'block');

            }
        });

        /* step back */
        $(".res-step-form .res-btn-gray").click(function () {
            var getClass = $(this).attr('data-class');
            $(".res-steps").removeClass('active');
            if (i >= 1) {
                i--;
            } else {
                i++;
            }

            $(steps[i - 1]).addClass('active');
            $(steps[i - 1]).removeClass('activated');

            $(getClass).css('display', 'none');
            $(getClass).prev().css('display', 'block');
        });
    });

     var options = [];

    $('.dropdown-menu a').on('click', function (event) {

        var $target = $(event.currentTarget),
            val = $target.attr('data-value'),
            $inp = $target.find('input'),
            idx;

        if ((idx = options.indexOf(val)) > -1) {
            options.splice(idx, 1);
            setTimeout(function () {
                $inp.prop('checked', false)
            }, 0);
        } else {
            options.push(val);
            setTimeout(function () {
                $inp.prop('checked', true)
            }, 0);
        }

        $(event.target).blur();
        return false;
    });



    $('#category-new-btn').on('click', function (event) {
        let categoryName = document.getElementById('category-name').value;
        let categoryArea = document.getElementById('category-area').value;
        let categoryDouble = document.getElementById('category-double').value;
        let categoryBed = document.getElementById('category-bed').value;
        let categoryOptions = $("#category-options li input:checked");
        let options = '';
        let listItems = categoryOptions.each(function () {
            options = options + $(this).val() + ' , '
        })
        $('#category > tbody:last-child').append('<tr><td>' + categoryName + '</td> ' +
            '<td>' + categoryArea + '</td> <td>' + categoryDouble + '</td> ' +
            '<td>' + categoryBed + '</td><td>' + options + '</td>' +
            '<td></td>'+
            '<td class="text-left">\n' +
            '<div class="operation">\n' +
            '<button class="edit-btn">Edit</button>\n' +
            '<button class="delete-btn">Delete</button>\n' +
            '</div>\n' +
            '</td>'+
            // '<td><ul class="uploaded-img not-clean">'+avatarPreview.html()+'</ul></td>' +
            '</tr>');
    });
    $('#room-new-btn').on('click', function (event) {
        console.log(event)
        let roomFlour = document.getElementById('room-flour').value;
        let room = document.getElementById('room-number').value;
        let roomCost = document.getElementById('room-cost').value;
        let roomDesc = document.getElementById('room-desc').value;
       let roomOptions = $("#room-options li input:checked");
        let options = '';
        let listItems = roomOptions.each(function () {
            options = options + $(this).val() + ' , '
        })
        $('#room > tbody:last-child').append('<tr><td>' + roomFlour + '</td> ' +
            '<td>' + room + '</td> <td>' + options + '</td>' +
            '<td>' + roomCost + '</td>'+
            '<td>' + roomDesc + '</td>'+
            '<td class="text-left">\n' +
            '<div class="operation">\n' +
            '<button class="edit-btn">Edit</button>\n' +
            '<button class="delete-btn">Delete</button>\n' +
            '</div>\n' +
            '</td>'+
            // '<td><ul class="uploaded-img not-clean">'+avatarPreview.html()+'</ul></td>' +
            '</tr>');
    });
</script>


<script>
     function getSelectRadioBtnIds(radioName) {
        var ids = [];
        $("input[name=" + radioName + "]:checked").each(function () {
            ids.push($(this).attr('id').split('_')[1]);
        });
        return ids;
     }
    function setModel() {
        var descOptionId = getSelectRadioBtnIds("descTextureOptionsItem");
        var capacityLocationTypes = getSelectRadioBtnIds("capicityLocationTypesItem");
        var optoptionIds = getSelectRadioBtnIds("OptionsOptionsItem");
        var customRulesItem=getSelectRadioBtnIds("customRulesItem");
        var addRoomModel = {
            files: $("#file-1").get(0).files,
                    unitName: $(".inp-unit-name").val(),
            countryId: $("#countryList").val(),
            provinceId: $("#provinceList").val(),
            cityId: $("#cityList").val(),
            address: $("#inp-address").text(),
            descStructuresId: $("#descStructures").val(),
            descOptionId: descOptionId,
            descDescription: $("#inp-dec-description").text(),
            measurmentroomtypeid: $("#measurmentroomtypelist").val(),
            measurmentlocationoptionid: $("#measurmentlocationoptionslist").val(),
            measurmentbedroomnumber: $(".inp-bedroom-number").val(),
            measurmentinpbuildingarea: $(".inp-building-area").val(),
            measurmentYardArea: $(".inp-yard-area").val(),
            descMeasurment: $(".inp-desc-measurment").text(),
            standardCapacity: $(".inp-standard-capacity").val(),
            capacitySingleBed: $(".inp-single-bed").val(),
            capacityMaximumCapacity: $(".inp-maximum-capacity").val(),
            capacityDoubleBed: $(".inp-double-bed").val(),
            capacityLocationTypes: capacityLocationTypes,
            capacityDescCapacity: $(".inp-desc-capacity").text(),
            optoptionIds: optoptionIds,
            optDescOptions: $(".inp-desc-options").text(),
            rulesInterTime: $(".inp-inter-time").val(),
            rulesExitTime: $(".inp-exit-time").val(),
            customRulesItem: customRulesItem,
            ruleDesc: $(".inp-rule-desc").val(),
            middleOfTheWeek: $(".inp-middle-of-the-week").val(),
            holidays: $(".inp-holidays").val(),
            weekend: $(".inp-weekend").val(),
            extraPeople: $(".inp-extra-people").val(),
            longBookingDiscount1Day: $(".inp-long-booking-discount-1-day").val(),
            longBookingDiscount1Percent: $(".inp-long-booking-discount-1-percent").val(),
            longBookingDiscount2Day: $(".inp-long-booking-discount-2-day").val(),
            longBookingDiscount2Percent: $(".inp-long-booking-discount-2-percent").val()
        };
        return addRoomModel;
    }
    var picturesId = [];
    function saveData() {
        $("#roomMessage").css("display", "none");
        $("#roomMessage div").each(function () {
            $(this).remove()
        });
        var descOptionId = getSelectRadioBtnIds("descTextureOptionsItem");
        var capacityLocationTypes = getSelectRadioBtnIds("capicityLocationTypesItem");
        var optoptionIds = getSelectRadioBtnIds("OptionsOptionsItem");
        var customRulesItem = getSelectRadioBtnIds("customRulesItem");
    }

    $("#btnInsertUnit").click(function () {
         loadingBoxStart();
        debugger;
          var descOptionId = getSelectRadioBtnIds("descTextureOptionsItem");
        var capacityLocationTypes = getSelectRadioBtnIds("capicityLocationTypesItem");
        var optoptionIds = getSelectRadioBtnIds("OptionsOptionsItem");
        var customRulesItem=getSelectRadioBtnIds("customRulesItem");
        var data = JSON.stringify(setModel());
        var input = document.getElementById("file-1");
        var files = input.files;
        var formData = new FormData();


        for (var i = 0; i != files.length; i++) {
         formData.append("files", files[i]);
        }

          $.ajax({
              url: '@Url.Action("Upload", "Hosting")',
              data: formData,
              processData: false,
              contentType: false,
              type: "POST",
              success: function (data) {

                  debugger;
                  for (var i = 0; i < data.length; i++) {
                      picturesId.push(data[i])
                  }
                  saveData();
              }
            });

    });
    function model() {

        //debugger;
        //var files = $("#file-1").get(0).files;

        //var location = {
        //    unitName: $(".inp-unit-name").val(),
        //    countryId: $("#countryList").val(),
        //    provinceId: $("#provinceList").val(),
        //    cityId: $("#cityList").val(),
        //    address: $("#inp-address").text(),
        //};

        //var description = {
        //    structuresId: $("#descStructures").val(),
        //    optionId: $('input[type=radio][name=descTextureOptionsItem]:checked').attr('id'),
        //    description: $("#inp-dec-description").text(),
        //};

        //var measurment = {
        //    roomTypeId: $("#measurmentRoomTypeList").val(),
        //    locationOptionId: $("#measurmentLocationOptionsList").val(),
        //    bedRoomNumber: $(".inp-bedroom-number").val(),
        //    //OptionId: $('input[type=radio][name=descTextureOptionsItem]:checked').attr('id'),
        //    inpBuildingArea: $(".inp-building-area").val(),
        //    yardArea: $(".inp-yard-area").val(),
        //    descMeasurment: $(".inp-desc-measurment").text()
        //};
        //var capacity = {
        //    standardCapacity: $(".inp-standard-capacity").val(),
        //    singleBed: $(".inp-single-bed").val(),
        //    maximumCapacity: $(".inp-maximum-capacity").val(),
        //    doubleBed: $(".inp-double-bed").val(),
        //    locationTypes: $('input[type=radio][name=capicityLocationTypesItem]:checked').attr('id'),
        //    descCapacity: $(".inp-desc-capacity").text()
        //}

        //var options = {
        //    options: $('input[type=radio][name=OptionsOptionsItem]:checked').attr('id'),
        //    descOptions: $(".inp-desc-options")
        //}

        //var rules = {
        //    interTime: $(".inp-inter-time").val(),
        //    exitTime: $(".inp-exit-time").val(),
        //    customRulesItem: $('input[type=radio][name=customRulesItem]:checked').attr('id'),
        //    ruleDesc: $(".inp-rule-desc").val()
        //}

        //var cost = {
        //    middleOfTheWeek: $(".inp-middle-of-the-week").val(),
        //    holidays: $(".inp-holidays").val(),
        //    weekend: $(".inp-weekend").val(),
        //    extraPeople: $(".inp-extra-people").val(),
        //    longBookingDiscount1Day: $(".inp-long-booking-discount-1-day").val(),
        //    longBookingDiscount1Percent: $(".inp-long-booking-discount-1-percent").val(),
        //    longBookingDiscount2Day: $(".inp-long-booking-discount-2-day").val(),
        //    longBookingDiscount2Percent: $(".inp-long-booking-discount-2-percent").val()
        //}

        //var model = { files, location, description, measurment, capacity, options, rules, cost };
        //var modelJson = JSON.stringify(model);
        //console.log(modelJson);
    }
</script>
